@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 10vh;
    background: rgba($color: #000000, $alpha: 0);
    ul{
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 30px;
        li{
            list-style: none;
            padding-left: 10px;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
main{
    .container{
        .first-view{
            height:100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../images/portforio-topview.png);
            h1{
                font-size: 32px;
                font-weight: bold;
                letter-spacing: 0.12em;
                position: relative;
            }
            ::before{
                content: "Hello!!";
                position: absolute;
                top: -45px;
                left: 40%;
                font-size: 25px;
                letter-spacing: normal;
            }
        }
    }
}