@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    top: 50px;
    right: 30px;
    width: 100%;
    height: 10vh;
    background: rgba($color: #000000, $alpha: 0);
    ul{
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 30px;
        li{
            list-style: none;
            padding-left: 20px;
            a{
                position: relative;
                color: #fff;
                text-decoration: none;
            }
            ::after{
                position: absolute;
                left: 0;
                bottom: -3px;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #fff;
                transform: scale(0,1);
                transform-origin: right top;
                transition: transform 0.3s;
            }
            a:hover::after{
                transform: scale(1,1);
                transform-origin: left top;
            }
        }
    }
}
main{
    .container{
        .first-view{
            height:100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../images/portforio-topview.png);
            background-size: cover;
            background-position-x: center;
            h1{
                font-size: 32px;
                font-weight: bold;
                letter-spacing: 0.12em;
                position: relative;
            }
            ::before{
                content: "Hello!!";
                position: absolute;
                top: -45px;
                left: 40%;
                font-size: 25px;
                letter-spacing: normal;
            }
        }
        #about-me{
            margin-top: 30px;
            h2{
                text-align: center;
                margin-bottom: 20px;
            }
            .prof-img{
                width: 10%;
                height: 10%;
                margin: 0 auto;
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .about-contents{
                display: flex;
                justify-content: center;
                table{
                    margin-right: 20%;
                    background-color: #FF99CC;
                    padding: 40px 30px;
                    border-radius: 20% 10% 40% 30% / 50% 20% 30% 10%;
                    thead{
                        tr{
                            th{
                                font-size: 24px;
                            }
                        }
                    }
                }
                .skills{
                    background-color: #CC6699;
                    padding: 50px 60px;
                    border-radius: 40% 10% 30% 20% / 30% 50% 10% 40%;
                    h3{
                        font-size: 24px;
                    }
                    ul{
                        li{
                            list-style: none;
                            padding-bottom: 5px;
                        }
                    }
                }
            }
            .PR{
                margin-top: 20px;
                text-align: center;
            }
        }
        #works{
            h2{
                text-align: center;
                margin-top: 30px;
                margin-bottom: 20px;
            }
            .works-contents{
                .stucom{
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #F2F2F2;
                    box-shadow: 0 -5px 3px #D8D8D8;
                    .explanation{
                        padding: 30px 0;
                        h3{
                            text-align: center;
                        }
                        h4{
                            padding-top: 20px;
                            padding-left: 10px;
                        }
                        p{
                            padding: 0 20px;
                        }
                        .txt-sub{
                            display: flex;
                            h4{
                                padding-left: 10px;
                            }
                            p{
                                padding-top: 20px;
                            }
                        }
                    }
                    section{
                        text-align: center;
                        height: 300px;
                        background-color: #fff;
                        img{
                            max-height: 100%;
                            object-fit: cover;
                        }
                        :hover{
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
footer{
    background-color: #F781F3;
    color: #fff;
    padding-top: 30px;
    .fot-box{
        display: flex;
        justify-content: space-around;
        a{
            color: #fff;
        }
        ul{
            li{
                list-style: none;
                padding-bottom: 5px;
            }
        }
        .contact{
            dt{
                padding-bottom: 5px;
            }
        }
    }
    span{
        display: block;
        font-size: small;
        text-align: center;
        padding: 10px 0;
    }
}